.app{
  text-align: center;
  padding: 0px 10px;
  font-family:'Courier New', Courier, monospace;

}
main{
  max-width: 1200px;
  min-height: 90vh;
  margin: auto;
  padding: 10px;
  /* border: 1px solid #000; */
}
.light{
  background: white;
  color: #000;
  transition: all 0.5s;
}
.dark{
  background: #15202b;
  color: white;
  transition: all 0.5s;
}